h1 {
  font-family: 'League Script';
  font-weight: bolder;
  /*font-style: italic;*/
  font-size: 65px;
  line-height: 75px;
  color: #ff00de;
}

h3 {
  font-family: 'League Script';
  font-weight: bold;
  /*font-style: italic;*/
  font-size: 25px;
  line-height: 40px;
  color: #ff00de;
}


h1:hover, h3:hover {
  color: #fff0ff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-animation: neon6 1s ease-in-out infinite alternate;
  animation: neon6 1s ease-in-out infinite alternate;
}

.navbar {
  opacity: .9;
}

.add-new-spot:hover {
  color: white;
}

.spots-title {
  font-size: 30px;
  line-height: 20px;
  font-family: 'League Script';
  padding-bottom: 0px;
}

@-webkit-keyframes neon6 {
  from {
    text-shadow: 0 0 20px #fff, 0 0 25px #fff, 0 0 35px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de, 0 0 250px #ff00de;
  }
  to {
    text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de, 0 0 200px #ff00de;
  }
}

@keyframes neon6 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de, 0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de, 0 0 250px #ff00de;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}

.App {
  text-align: center;
  color: white;
}

.container {
  padding-top: 15px;
}

.card:hover {
  -webkit-animation: neon2 1.5s ease-in-out infinite alternate;
  animation: neon2 1.5s ease-in-out infinite alternate;
  opacity: 1;
}

.card {
  font-family: Raleway;
  opacity: .8;
}

@-webkit-keyframes neon2 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #228DFF, 0 0 40px #228DFF, 0 0 70px #228DFF;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #228DFF, 0 0 20px #228DFF, 0 0 35px #228DFF;
  }
}

@keyframes neon2 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #228DFF, 0 0 40px #228DFF, 0 0 70px #228DFF;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #228DFF, 0 0 20px #228DFF, 0 0 35px #228DFF;
  }
}

body, html {
  height: 100%;
  background-image: url(https://images.fineartamerica.com/images-medium-large-5/new-york-city-nyc-skyline-midtown-manhattan-at-night-black-and-white-jon-holiday.jpg);
  background-color: #1e1e1e;
  background-position: bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%;
}

th {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #228DFF, 0 0 20px #228DFF;
  font-weight: 900;
  font-family: 'Playfair Display', serif;
  /*font-style: italic;*/
  font-size: 30px;
}

td {
  color: #f4f4f4;
  font-family: 'Playfair Display', serif;
  /*font-style: italic;*/
  font-weight: 400;
  font-size: 25px;
  height: 40px;
}

table {
  width: 100%;
  background-color: ;
}